!!!
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta('http-equiv'='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='shortcut icon', href='/img/favicon.png')

    //- Stylesheets
    != css('app')
    block stylesheets

  body
    block content

  //- Scripts
  //if lt ie 8
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  script(src='http://use.edgefonts.net/lato.js')
  script(type='text/javascript', src='//localhost:8080/socket.io/socket.io.js')
  script('data-main'='/js/app.js', src='/lib/js/require.js')

  block scripts

