<div class='sidebar span4'>
  <img id='logo' src='/img/logo.png' />
  <input id='search' type='text' placeholder='Search for songs...'
          autofocus='autofocus'/>
  <ul id='search-results'> </ul>
</div>

<div id='main-player' class='span6'>
  <div id='player-header'>
    {{#if playing}}
      {{#with playing}}
      <img class='header-art' src="{{album_art}}" />
      <div class='info'>
        <h3 class='track-title'>{{title}}</h3>
        <h5 class='track-artist'>{{artist}}</h5>
      </div>
      {{/with}}
    {{else}}
      <img class='header-art' src='http://placehold.it/570x160' />
      <div class='info'>
        <h3 class='track-title'>Queue a song to start!</h3>
      </div>
    {{/if}}
    <div class='controls-wrapper'>
      <div class='controls'>
        <button class='play'></button>
        <button class='pause'></button>
        <button class='next'></button>
      </div>
    </div>
    <div class='tracker'></div>
  </div>

  {{#if previous}}
    <div class='previous'></div>
  {{/if}}

  {{#if playing}}
    <div class='now-playing'></div>
  {{/if}}

  <div class='request-divider'>Up Next</div>
  <ul id='request-list'></ul>
</div>
