<li class='track-item'>
  <img class='album-art' src='{{album_art}}' />
  <div class='meta'>
    <div class='votes'>{{score}} votes</div>
    <div class='vote'></div>
    <p class='track-title'>{{title}}</p>
    {{#if artist}}
    <p class='track-artist'>{{artist}}</p>
    {{/if}}
  </div>
</li>
